# Next Variables Exemples for add maps to the project, you need to create a .env file in the root of the project and add the following variables:
NEXT_PUBLIC_MAPBOX_TOKEN=your_token_here

NEXT_PUBLIC_API_URL=http://localhost:3000