/* # src/styles/globals.css Exemple of global styles for the application */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #050816;
  color: white;
  font-family: sans-serif;
}